# Ignore all the service .env files

**/.env

# Ignore all the Firebase service account files
server/**/config/serviceAccount.json

# Ignore all the node modeules directories
server/**/node_modules/

# Ignore all the dist directories
server/**/dist/

# Ignore all the bin directories
server/**/bin/

# Ignore system files
.DS_Store
*.log
*.swp